/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo-header {
    height: 6vh;
}

.logo-header img {
    height: 100%;
}

.my-margin-top {
    margin-top: 8vh;
}

.custom-placeholder::placeholder {
  color: #6c757d;
  opacity: 0.8;    
}

.table-striped th:first-child, 
.table-striped td:first-child {
    width: 50%;
}

.table-striped th:last-child, 
.table-striped td:last-child {
    text-align: center;
}

.table-striped td:last-child {
    width: 20% !important;
}


/* Status */

.status {
    padding: 0 5px 3px 5px;
    border-radius: 8px;
    color: white;
}

.disponibile {
    background-color: green;
}

.in-prestito {
    background-color: rgb(255, 191, 0);
}

.non-disponibile {
    background-color: rgb(232, 0, 0);
}



/* Media Query */

@media screen and (min-width:0) {
    .table-striped th:nth-child(2),
    .table-striped td:nth-child(2) {
        display: none;
    }

}

@media screen and (min-width:768px) {

    .table-striped th:nth-child(2),
    .table-striped td:nth-child(2) {
        display: table-cell;
    }
}

@media screen and (min-width:992px) {

    .custom-padding-large {
        padding: 0 11rem !important;
    }

    html {
        font-size: 0.8rem;
    }

}